.footer-link {
    color: $body_bg;
    text-decoration: none;
}

.footerhover:hover {
    text-decoration: none;
    color: $body_bg;
}

Footer {
    margin: auto;
    // text-align: center;
    color: grey;
    background-color: $footer_bg;
    height: 7rem;
    font-size: $m-size;
}

.footer p {
    padding-top: 2rem;
    padding-left: 5rem;
    text-decoration: none;
}