.option-color {
    color : black ;
    text-decoration: none;
}

.brand {
    font-size : 4rem;
    color : $body_bg;
}

.nav_height {
    height : 11rem;
}


footer p {
    padding-top : 3rem;
    padding-left : 5rem;
}

.mywork {
    font-style : italic;
    font-size : 3rem;
}